.main-header {
    background-color: var(--main-bg-color);
    color: var(--secondary-color);
    padding: 1em 0;
    margin-block-end: 1em;

    a {
        color: var(--secondary-color);
        text-decoration: none;
        font-size: 1.25rem;

        &:hover, &.active {
            color: var(--highlight-color);
        }
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        a {
            &:not(:last-of-type) {
                margin-inline-end: 1.5em;
            }
        }
    }

    .brand {
        font-size: 2rem;

        h1 {
            margin: 0;
            font-weight: bold;
        }
    }
}