.dashboard {
    display: grid;
    grid-template-columns: 1fr;
    margin-block-end: 1em;
    gap: 2em;
    justify-items: center;

    .dashboard-chart {
        text-align: center;
        font-size: 2rem;
        width: 100%;
        max-width: 700px;
    }

    @include for-narrow-layout {
        grid-template-columns: 1fr 1fr;
    }
}