.toy-edit {
    display: flex;
    justify-content: center;

    div {
        &.required {
            color: red;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.5em;

        @include for-narrow-layout {
            width: 500px;
        }
    }
}