.toy-preview {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);
    padding: 1em;

    p {
        margin-block-end: 1em;
    }

    h2 {
        margin: 0;
        font-size: 1.25rem;
    }
}