.toy-details {

    display: grid;
    word-break: break-word;
    margin-block-end: 1em;

    .btn {
        justify-self: start;
        margin-block-end: 1em;
        max-height: min-content;
        align-self: flex-start;
    }

    img {
        max-width: 500px;
    }

    h2 {
        font-size: 2rem;
        margin-block-end: 0.2em;
    }
    
    p {
        font-style: italic;
        color: gray;
        margin-block-end: 1em;
    }

    .toy-info {
        grid-row: 2;
        background-color: var(--secondary-bg-color);
        color: var(--secondary-color);
        padding: 1em;
        display: flex;
        flex-direction: column;

        .toy-buttons {
            margin-top: auto;
        }

        .btn {
            margin-block-end: 0;

            &:nth-child(1) {
                margin-inline-end: 0.5em;
            }
        }
    }

    .toy-img {
        display: flex;
        justify-content: center;
        border: 1px solid var(--secondary-bg-color);
    }

    .toy-msgs {
        display: flex;
        flex-direction: column;
    }

    @include for-normal-layout {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;

        .toy-info {
            grid-column: 2;
        }

        .toy-img {
            grid-column: 1;
        }

        .toy-msgs {
            grid-column: 2;
        }
    }
    
}