.toy-edit {
    display: flex;
    justify-content: center;

    div {
        &.required {
            color: red;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        width: 500px;
        gap: 0.5em;
    }
}